.section {
  position: relative;
}

.section::before {
  content: '';

  height: 64px;
  width: 100%;

  position: absolute;
  top: 484px;
  left: 0;

  z-index: -1;

  background: linear-gradient(
    270deg,
    rgba(22, 20, 28, 0) -1.47%,
    #16141c 95.63%
  );
}

@media screen and (min-width: 768px) {
  .section::before {
    top: 470px;
  }
}

@media screen and (min-width: 1280px) {
  .section::before {
    top: 378px;
  }
}
