.mafiaSchoolHero {
  background-image: url('/images/mafiaschool/bgmafiaschool.webp');
  background-repeat: no-repeat;
}

@media (min-resolution: 192dpi), (min-width: 2dppx) {
  .mafiaSchoolHero {
    background-image: url('/images/mafiaschool/bgmafiaschool@2x.webp');
  }
}
