.sectionBg {
  background-image: url(../../public/images/corporate/corporate-hero-bg-mob.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1920px;
}
