.sectionBg {
  background-image: url(../../public/images/corporate/corporate-hero-bg-mob.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1920px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .sectionBg {
    background-image: url(../../public/images/corporate/corporate-hero-bg-tab@2x.webp);
  }
}

@media (min-width: 1280px) {
  .sectionBg {
    background-image: url(../../public/images/corporate/corporate-hero-bg-xl@2x.webp);
  }
}

@media (min-width: 1752px) {
  .sectionBg {
    background-image: url(../../public/images/corporate/corporate-hero-bg-xxl@2x.webp);
  }
}
