.card {
  background-image: image-set(
    url('/images/common/price-card-bg-mob.webp') 1x,
    url('/images/common/price-card-bg-mob@2x.webp') 2x
  );
}

@media screen and (min-width: 768px) {
  .card {
    background-image: image-set(
      url('/images/common/price-card-bg-tab.webp') 1x,
      url('/images/common/price-card-bg-tab@2x.webp') 2x
    );
  }
}

@media screen and (min-width: 1280px) {
  .card {
    background-image: image-set(
      url('/images/common/price-card-bg-desk.webp') 1x,
      url('/images/common/price-card-bg-desk@2x.webp') 2x
    );
  }
}

@media screen and (min-width: 1752px) {
  .card {
    background-image: image-set(
      url('/images/common/price-card-bg-desk-lg.webp') 1x,
      url('/images/common/price-card-bg-desk-lg@2x.webp') 2x
    );
  }
}

.price::after {
  content: '';

  width: 207px;
  height: 2px;

  position: absolute;
  left: 0;
  bottom: -28px;

  background: linear-gradient(
    90deg,
    #ff057c 0%,
    #8d0b93 50%,
    rgba(50, 21, 117, 0) 100%
  );
}

@media screen and (min-width: 768px) {
  .price::after {
    width: 248px;
  }
}

@media screen and (min-width: 1280px) {
  .price::after {
    width: 252px;
    bottom: -24px;
  }
}
