.bgcontainer {
  position: relative;
}

.bgcontainer::before {
  content: '';

  position: absolute;
  top: 215px;
  right: 0;

  width: 100%;
  height: 763px;

  background: #040404;

  --tw-shadow: 0px 0px 9px 0px rgba(62, 50, 95, 0.09);
  --tw-shadow-colored: 0px 0px 9px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

  border-radius: 6px;
}

@media screen and (min-width: 768px) {
  .bgcontainer::before {
    top: 76px;

    width: 448px;
    height: 554px;
  }
}

@media screen and (min-width: 1280px) {
  .bgcontainer::before {
    width: 1009px;
    height: 526px;
  }
}

@media screen and (min-width: 1752px) {
  .bgcontainer::before {
    width: 1308px;
  }
}
