.bg_img {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  background-image: image-set(
    url('/images/corporate/bginvitegamemob.webp') 1x,
    url('/images/corporate/bginvitegamemob@2x.webp') 2x
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bgcontainer {
  position: relative;
}

.bgcontainer::before {
  content: '';

  position: absolute;
  top: 215px;
  right: 0;

  width: 100%;
  height: 763px;

  background: #040404;

  --tw-shadow: 0px 0px 9px 0px rgba(62, 50, 95, 0.09);
  --tw-shadow-colored: 0px 0px 9px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

  border-radius: 6px;
}

@media screen and (min-width: 768px) {
  .bg_img {
    background-image: image-set(
      url('/images/corporate/bginvitegametab.webp') 1x,
      url('/images/corporate/bginvitegametab@2x.webp') 2x
    );
  }
  .bgcontainer::before {
    top: 76px;

    width: 448px;
    height: 554px;
  }
}

@media screen and (min-width: 1280px) {
  .bg_img {
    background-image: image-set(
      url('/images/corporate/bginvitegamexl.webp') 1x,
      url('/images/corporate/bginvitegamexl@2x.webp') 2x
    );
  }
  .bgcontainer::before {
    width: 1009px;
    height: 526px;
  }
}

@media screen and (min-width: 1752px) {
  .bg_img {
    background-image: image-set(
      url('/images/corporate/bginvitegamexxl.webp') 1x,
      url('/images/corporate/bginvitegamexxl@2x.webp') 2x
    );
  }
  .bgcontainer::before {
    width: 1308px;
  }
}
