.hero {
  max-width: 1920px;
  background-image: image-set(
    url('/images/home/home-hero-sm.webp') 1x,
    url('/images/home/home-hero-sm_2x.webp') 2x
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: image-set(
      url('/images/home/home-hero-md.webp') 1x,
      url('/images/home/home-hero-md_2x.webp') 2x
    );
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    background-image: image-set(
      url('/images/home/home-hero-l.webp') 1x,
      url('/images/home/home-hero-l_2x.webp') 2x
    );
  }
}

@media screen and (min-width: 1920px) {
  .hero {
    background-image: image-set(
      url('/images/home/home-hero-xl.webp') 1x,
      url('/images/home/home-hero-xl_2x.webp') 2x
    );
  }
}

.schedule::after {
  content: '';

  width: 272px;
  height: 2px;

  position: absolute;
  left: 0;
  bottom: -14px;

  background: linear-gradient(
    90deg,
    rgba(255, 5, 124, 0.25) 0%,
    rgba(141, 11, 147, 0.25) 50%,
    rgba(50, 21, 117, 0) 100%
  );
}

@media screen and (min-width: 768px) {
  .schedule::after {
    width: 236px;
    bottom: -16px;
  }
}

@media screen and (min-width: 1280px) {
  .schedule::after {
    width: 291px;
    bottom: -15px;
  }
}

@media screen and (min-width: 1752px) {
  .schedule::after {
    width: 418px;
    bottom: -19px;
  }
}
