.tournamentBlock:nth-child(2n) .tournamentContainer {
  flex-direction: row-reverse;
  justify-content: start;
}
.tournamentBlock:nth-child(2n + 1) .tournamentContainer {
  justify-content: end;
}

.tournamentBlock:nth-child(2n) {
  background-color: rgba(22, 20, 28, 0.4);
}

.title {
  position: relative;
  width: 100%;
}
.title::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -24px;
  min-height: 64px;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(141, 11, 147, 0.33) 0%,
    rgba(255, 5, 124, 0) 100%
  );
}

.imgWrapper::before {
  content: '';
  display: block;
  position: absolute;
  top: 95px;

  height: 2px;
  width: 88px;
  border-radius: 1px;
}

.tournamentBlock:nth-child(2n) .imgWrapper::before {
  right: -24px;
  background-image: linear-gradient(
    90deg,
    #ff057c 0%,
    #8d0b93 50%,
    rgba(50, 21, 117, 0) 100%
  );
}

.tournamentBlock:nth-child(2n + 1) .imgWrapper::before {
  left: -24px;
  background-image: linear-gradient(
    270deg,
    #ff057c 0%,
    #8d0b93 50%,
    rgba(50, 21, 117, 0) 100%
  );
}

@media (min-width: 768px) {
  .imgWrapper::before {
    top: 49px;
    width: 228px;
  }

  .tournamentBlock:nth-child(2n) .imgWrapper::before {
    right: -200px;
  }

  .tournamentBlock:nth-child(2n + 1) .imgWrapper::before {
    left: -200px;
  }
}

@media (min-width: 1280px) {
  .imgWrapper::before {
    top: 172px;
    width: 286px;
  }

  .tournamentBlock:nth-child(2n) .imgWrapper::before {
    right: -206px;
  }

  .tournamentBlock:nth-child(2n + 1) .imgWrapper::before {
    left: -206px;
  }
}
