.background {
  background-image: url('/images/hallfame/bghallfame.webp');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .hallFameListContainer {
    background-image: url('/images/hallfame/bghallfametabl.webp');
  }
  @media (min-resolution: 192dpi), (min-width: 2dppx) {
    .hallFameListContainer {
      background-image: url('/images/hallfame/bghallfametabl@2x.webp');
    }
  }
}

@media (min-resolution: 192dpi), (min-width: 2dppx) {
  .hallFameListContainer {
    background-image: url('/images/hallfame/bghallfame@2x.webp');
  }
}
