.menu_decor::before {
  content: '';
  position: absolute;
  top: 53px;
  left: 0;
  width: 100%;
  height: 1px;
  @apply bg-gray-light;
}

@media screen and (min-width: 768px) {
  .menu_decor::before {
    top: 73px;
  }
}
