.front,
.back {
  backface-visibility: hidden;
  background-color: rgba(20, 19, 24, 0.83);
}
.back {
  transform: rotateY(180deg);
}
.card {
  perspective: 1000px;
  outline: none;
}
.card:hover .front,
.card:focus .front {
  transform: rotateY(180deg);
}
.card:hover .back,
.card:focus .back {
  transform: rotateY(360deg);
}

.active .front {
  transform: rotateY(180deg);
}
.active .back {
  transform: rotateY(360deg);
}

.front::after {
  content: '';

  /* для 320px по макету */
  width: 36px;
  height: 33px;

  /* для 376px+ по макету*/
  /* width: 54px;
  height: 49px;  */
  /* чекаю уточнень від дизайнера стосовно розміру, який беремо для моб */

  position: absolute;
  top: 0;
  right: 0;

  background-image: url('/icons/page_turn_main.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top-right;
}

@media screen and (min-width: 768px) {
  .front::after {
    width: 54px;
    height: 49px;
  }
}

@media screen and (min-width: 1280px) {
  .front::after {
    display: none;
  }
}

.back::after {
  content: '';

  width: 32px;
  height: 32px;

  position: absolute;
  top: 8px;
  right: 8px;

  background-image: url('/icons/page_turn_back.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top-right;
}

@media screen and (min-width: 768px) {
  .back::after {
    width: 48px;
    height: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .back::after {
    display: none;
  }
}
