.section {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}

.galleryCard {
  flex-basis: calc((100% - 24px) / 2);
  position: relative;
  @apply h-[180px] rounded-md md:h-[198px] xl:h-[407px] xxl:h-[490px];

  @media (min-width: 768px) {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
}

.galleryCard::before,
.galleryCard::after {
  content: '';
  position: absolute;
  left: 50%;
  width: 156px;
  height: 6px;
  z-index: -1;
  transform-origin: top center;
  background: linear-gradient(
    90deg,
    rgba(255, 5, 124, 0.25) 0%,
    rgba(141, 11, 147, 0.25) 50%,
    rgba(50, 21, 117, 0) 100%
  );
}

.galleryCard::before {
  top: -50%;
  transform: translate(calc(-50% - 3px), 16px) rotate(-90deg);
}

.galleryCard::after {
  bottom: -50%;
  transform: translate(calc(-50% + 3px), -16px) rotate(90deg);
}

.galleryCard:nth-child(1) {
  @apply md:mt-[48px] xl:mt-[81px] smOnly:mb-[282px];
}

.galleryCard:nth-child(2) {
  @apply mt-[120px] md:mt-[116px] xl:mt-[189px];
}

.galleryCard:nth-child(4) {
  @apply md:mt-[156px] xl:mt-[279px] smOnly:mt-[136px];
}

.section::before {
  content: '';

  height: 64px;
  width: 100%;

  position: absolute;
  top: 1555px;
  left: 0;

  z-index: -1;

  background: linear-gradient(
    270deg,
    rgba(22, 20, 28, 0) -1.47%,
    #16141c 95.63%
  );
}

@media screen and (min-width: 768px) {
  .section::before {
    top: 1072px;
  }

  .galleryCard::before {
    transform: translate(calc(-50% - 3px), 26px) rotate(-90deg);
  }

  .galleryCard::after {
    transform: translate(calc(-50% + 3px), -26px) rotate(90deg);
  }
}

@media screen and (min-width: 1280px) {
  .section::before {
    top: 1176px;
  }

  .galleryCard::before {
    transform: translate(calc(-50% - 3px), 135px) rotate(-90deg);
  }

  .galleryCard::after {
    transform: translate(calc(-50% + 3px), -135px) rotate(90deg);
  }
}

@media screen and (min-width: 1752px) {
  .galleryCard::before {
    transform: translate(calc(-50% - 3px), 179px) rotate(-90deg);
  }
  .galleryCard::after {
    transform: translate(calc(-50% + 3px), -179px) rotate(90deg);
  }
}
