.schoolSection {
  max-width: 1920px;
  background-image: image-set(
    url('/images/home/home-school-bg-mob.webp') 1x,
    url('/images/home/home-school-bg-mob@2x.webp') 2x
  );
}

.schoolSection::before {
  content: '';

  height: 60px;
  width: 100%;

  position: absolute;
  top: 767px;
  left: 0;

  background: linear-gradient(
    270deg,
    rgba(22, 20, 28, 0) -1.47%,
    #16141c 95.63%
  );
}

.container::before {
  content: '';

  width: 384px;
  height: 387px;

  position: absolute;
  top: 276px;
  left: -158px;

  background: #141318;

  border-radius: 6px;
}

@media screen and (min-width: 351px) {
  .schoolSection::before {
    top: 742px;
  }

  .container::before {
    top: 250px;
  }
}

@media screen and (min-width: 378px) {
  .schoolSection::before {
    top: 718px;
  }

  .container::before {
    width: 484px;
    top: 227px;
  }
}

@media screen and (min-width: 768px) {
  .schoolSection {
    background-image: image-set(
      url('/images/home/home-school-bg-tab.webp') 1x,
      url('/images/home/home-school-bg-tab@2x.webp') 2x
    );
  }

  .schoolSection::before {
    top: 344px;
  }

  .container::before {
    width: 582px;
    height: 702px;

    top: 386px;
    left: -262px;
  }
}

@media screen and (min-width: 1280px) {
  .schoolSection {
    background-image: image-set(
      url('/images/home/home-school-bg-desk.webp') 1x,
      url('/images/home/home-school-bg-desk@2x.webp') 2x
    );
  }

  .schoolSection::before {
    top: 340px;
  }

  .container::before {
    width: 735px;
    height: 484px;

    top: 380px;
  }
}

@media screen and (min-width: 1752px) {
  .schoolSection {
    background-image: image-set(
      url('/images/home/home-school-bg-desk-lg.webp') 1x,
      url('/images/home/home-school-bg-desk-lg@2x.webp') 2x
    );
  }

  .container::before {
    width: 652px;
    height: 484px;

    top: 380px;
    left: -84px;

    border-radius: 0 6px 6px 0;
  }
}
