@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-body font-raleway text-base font-normal text-white-light;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.outline-without {
  outline: none;
  outline-offset: 0;
}

.btn-secondary:active svg > path {
  stroke: #c964c2;
}

/* Functional Icon Buttons */

.iconBtn {
  @apply flex items-center justify-center rounded-normal border-2 border-gray transition-colors duration-300 hover:border-primary-light-900 focus:border-primary-light-900 active:border-primary-light-600;
}

.iconBtn--cross {
  @apply h-[28px] w-[28px] rounded-[5px];
}

.iconBtn--arrow {
  @apply h-[26px] w-[50px] sm:w-[64px];
}

.iconBtn--scroll {
  @apply h-[48px] w-[48px] bg-[#262626];
}

.functionIcon {
  @apply h-[16px] w-[24px];
}

.functionIcon--cross {
  @apply w-[16px];
}

.functionIcon--scroll {
  @apply h-[24px];
}

/* Autofill behavior */
.input-autofill:autofill,
.input-autofill:-webkit-autofill,
.input-autofill:-moz-autofill,
.input-autofill:-ms-input-placeholder {
  @apply bg-white/5 transition-all delay-0 duration-[5000s] ease-in-out;
}

/* Form */

.label-behavior {
  @apply relative cursor-pointer text-[16px] leading-[1.5] text-white-light;
}

.input-behavior {
  @apply block w-full rounded-normal bg-white/5 px-[16px] py-[12px] text-[16px] italic leading-[1.5] text-white-light placeholder-primary-dark-700/40 shadow-input outline-none transition-all duration-300 hover:shadow-inputHover hover:outline-1 hover:outline-primary-light-400 focus:shadow-inputFocus focus:outline-1 focus:outline-primary-light-600;
}

.input-error-behavior {
  @apply shadow-inputError outline-notify-error;
}

.error-behavior {
  @apply absolute -bottom-[4px] left-0 text-notify-error;
}
